.sign-in {
    @media (max-width:600px) {
        width:100%
    }
    width: 400px;
  //  display:flex;
  //  flex-direction: column;
    margin-top: 5em;
}

.title {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content:space-between;
}