.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left:0;
    margin-left:0;
    align-items: left;
    background-color: blue;
  
    .logo-container {
      height: auto;
      width: 100%;
      display:flex;
           // padding: 25px;
     padding-left:0;
     margin-left:0;
     align-items: left;

    }

    .logo {
      max-width:100%;
      min-width: 250px;
      height:auto;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }

  .testit {
    width: 100%;
    background-color: green;
    margin-bottom: 50px;
  }
  